h1{
    background-color: green;color: white;width: fit-content;
}
h2{
    background-color: black;color: white;width:fit-content;
}
.myh3{
    color: purple;font-style: oblique;
}
.Submit{
    background-color: red;color: white;
}